<div class="container">
  <div class="login">
    <!-- <img src="./../../assets/logo.png"/> -->
    <div class="imageUser"></div>
    <div class="addImageUser">+</div>

      <div style="width:300px; height: 100%; padding-top:10px; overflow-x: hidden;">

        <a routerLink="/"><img src="./../../../assets/arrow_back.svg" #arrowBack style="position: absolute; top:25px; left:25px; width:30px; cursor: pointer"></a>


        <div style="position: relative; width: 200px; float:left; margin-left: 50px;">
          <input #HTMLNome [(ngModel)]="nome"  value="{{ nome }}" (blur)="habilitaBotao()" (blur)="geraUserName(nome)" (blur)="chama()" (blur)="verificaNome(nome)" type="text" name="nome" class="textFields"/>
          <label class="labelText" for="nome">Nome</label>
          <div class="border"></div>
        </div>

       <div style="position: relative; width: 200px; float:left; margin-left: 50px; margin-top:60px;">
          <input #HTMLEmail autocomplete="off" [(ngModel)]="email" (blur)="habilitaBotao()" (blur)="verificaEmail(email)" (blur)="chama()" type="text" name="email" class="textFields"/>
          <label class="labelText" for="nome">Email</label>
          <div class="border"></div>
        </div>

        <div style="position: relative; width: 200px; float:left; margin-left: 50px; margin-top:60px;">
          <input #HTMLSenha [(ngModel)]="senha" (blur)="habilitaBotao()" (keyup)="senhasConferem()" (blur)="chama()" type="password" name="senha" class="textFields"/>
          <label class="labelText" for="nome">Senha</label>
          <div class="border"></div>
        </div>

          <div style="position: relative; width: 200px; float:left; margin-left: 50px; margin-top: 60px;">
            <input #HTMLConfirmaSenha [(ngModel)]="confirmaSenha" (blur)="habilitaBotao()" (keyup)="senhasConferem()" (blur)="chama()" type="password" name="confirmaSenha" class="textFields"/>
            <label class="labelText" for="nome">Confirme sua senha</label>
            <div class="border"></div>
          </div>

          <button
            (click)="criaUsuario()"
            class="denseButton disabledButton"
            style="float:left; width:200px; margin-top:60px; margin-left:50px;"
            #HTMLCadastrar>
              CADASTRAR
          </button>

      </div>
  </div>
</div>
