<section class="container">
  <div class="infoPrincipais">
    <div style="position: relative">
      <input type="text" class="textFields">
      <div class="labelText">Nome</div>
      <div class="border"></div>
    </div>
    <div style="position: relative; margin-top: 50px;">
      <input type="text" class="textFields">
      <div class="labelText">Data</div>
      <div class="border"></div>
    </div>
    <div style="position: relative; margin-top: 100px">
      <textarea class="textFieldsMult" style="min-height: 120px">Digite uma Descrição</textarea>
      <!--<div class="labelTextMult">Descrição</div>-->
      <div class="border"></div>
    </div>
  </div>

 <div class="comentarios">
    <h1>Comentarios</h1>
   <div style="position: relative; margin-top: 10px; width: 90%; margin-left: 5%; float: left">
     <input type="text" class="textFields">
     <label class="labelText">Adicionar Comentario</label>
     <div class="border"></div>
   </div>
   <div class="scrollComentarios">
     <ul>
       <li>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</li>
       <li>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</li>
       <li>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</li>
     </ul>
   </div>


 </div>

  <div class="checklist">
    <h1>Checklist</h1>
    <div style="position: relative; margin-top: 10px; width: 90%; margin-left: 5%; float: left">
      <input type="text" class="textFields">
      <label class="labelText">Adicionar Comentario</label>
      <div class="border"></div>
    </div>
    <div class="scrollChecklist">
      <ul>
        <li>
          <input type="checkbox" id="check1">
          <label for="check1">
            <div class="img"></div>
          </label>
          Fase 1
        </li>
        <li>
          <input type="checkbox" id="check2">
          <label for="check2">
            <div class="img"></div>
          </label>
          Fase 1
        </li>
        <li>
          <input type="checkbox" id="check2">
          <label for="check2">
            <div class="img"></div>
          </label>
          Fase 1 da fase 3 do projeto do joaquim
        </li>

        <li>
          <input type="checkbox" id="check2">
          <label for="check2">
            <div class="img"></div>
          </label>
          Fase 1
        </li>

      </ul>
    </div>
  </div>

  <div class="upload">
    <h1>Anexos</h1>

    <div class="scrollUpload">
      <ul>
        <li>Adicionar Anexo</li>
        <li>
          <div class="icon"></div>
          Documentação.txt
        </li>
        <li>
          <div class="icon"></div>
          Documentação.txt
        </li>
        <li>
          <div class="icon"></div>
          Documentação.txt
        </li>
      </ul>
    </div>

  </div>

  <div class="botoes">
    <button class="denseButton float-right">FECHAR</button>
  </div>




</section>
