<section class="container">
  <div style="overflow-y: auto; height: 100%; width: 100%">
    <div style="position: relative; margin-top: 10px;">
      <input type="text" class="textFields">
      <label class="labelText">Nome</label>
      <div class="border"></div>
    </div>
    <div style="position: relative; margin-top: 60px;">
      <input type="text" class="textFields">
      <label class="labelText">Data</label>
      <div class="border"></div>
    </div>
    <div style="position: relative; margin-top: 110px;">
      <input type="text" class="textFields">
      <label class="labelText">Descrição</label>
      <div class="border"></div>
    </div>
    <div class="boxComentarios" style="position: relative; margin-top: 170px; border: 1px solid rgba(0,0,0, .42);">
      <ul>
        <li>Existe um comentario aqui!</li>
        <li>Existe um comentario aqui!</li>
      </ul>
    </div>
    <div style="position: relative; margin-top: 15px;">
      <input type="text" class="textFields">
      <label class="labelText">Comentario</label>
      <div class="border"></div>

      <button class="denseButton float-right" style="margin-top: 50px;">Adicionar</button>
    </div>

    <div class="anexos">
      <h1></h1>
      <p></p>
    </div>

    <div class="checkList">
      <h1>Checklist</h1>
      <ul>
        <li>
          <input type="checkbox" id="check1">
          <label for="check1">
            <div class="img"></div>
          </label>
          Fase 1
        </li>

        <li>
          <input type="checkbox" id="check2">
          <label for="check2">
            <div class="img"></div>
          </label>
          Fase 1
        </li>

      </ul>
    </div>
  </div>
</section>
