div {
  /*display: none;*/
  width: 42px;
  height: 42px;
  position: fixed;
  top: 16px;
  left: 16px;
  border-radius: 50%;
  background-image: url("../../../assets/arrow_back.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 50;
  transition: all ease 180ms;

}
div:hover {
  background-color: #009587;
}

@media screen and (max-width: 480px) {
  div {
    display: block;
    width: 42px;
    height: 42px;
    position: fixed;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    /*background-color: #009587;*/
    background-image: url("../../../assets/arrow_back.svg");
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease 180ms;
  }
}
