div {
  display: none;
  width: 24px;
  height: 24px;
  position: fixed;
  border-radius: 50%;
  top: 16px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  transition: all ease 180ms;
  cursor: pointer;

}
div:hover {
  background-color: #009587;
}

@media screen and (max-width: 480px) {
  div {
    display: block;
  }
}
