section {
  position: fixed;
  top: calc(50% - 37.5px);
  left: calc(50% - 145px);
  width: 250px;
  height: 75px;
  background-color: #FAFAFA;
  z-index: 24;
  padding: 10px 20px;
}
section input {
  width: calc(100% - 40px);
  margin-top: 5px;
}
section h1 {
  font-size: 16px;
  color: rgba(0,0,0,.9);
  font-family: 'Roboto';
}
