<section class="popupAddElemento">
  <h1>Nova Tarefa</h1>
  <div style="position: relative; margin-top: 10px;">
    <input #HTMLNome type="text" class="textFields" [(ngModel)]="dragDropService.nomeTarefa" (keyup.enter)="addTarefa()" (blur)="inputs()">
    <label class="labelText">Nome</label>
    <div class="border"></div>
  </div>
  <div style="position: relative; margin-top: 60px;">
    <input #HTMLData type="text" class="textFields" [(ngModel)]="dragDropService.dataTarefa" (keyup)="mascaraData($event)" (keyup.enter)="addTarefa()" (blur)="inputs()">
    <label class="labelText">Data</label>
    <div class="border"></div>
  </div>
  <button class="defaultButton" style="margin-top: 60px; width: 100%;">Cadastrar</button>

</section>
