<div class="container">
  <section class="project-card">
    <div class="img"></div>
    <div class="acoes">
      <img class="icon" src="../../assets/settings.svg">
      <img class="icon" src="../../assets/delete.svg">
      <img class="icon" src="../../assets/info.svg">
    </div>
  </section>

  <section class="project-card">
    <div class="img"></div>
    <div class="acoes">
      <img class="icon" src="../../assets/settings.svg">
      <img class="icon" src="../../assets/delete.svg">
      <img class="icon" src="../../assets/info.svg">
    </div>
  </section>

  <section class="project-card">
    <div class="img"></div>
    <div class="acoes">
      <img class="icon" src="../../assets/settings.svg">
      <img class="icon" src="../../assets/delete.svg">
      <img class="icon" src="../../assets/info.svg">
    </div>
  </section>

  <section class="project-card">
    <div class="img"></div>
    <div class="acoes">
      <img class="icon" src="../../assets/settings.svg">
      <img class="icon" src="../../assets/delete.svg">
      <img class="icon" src="../../assets/info.svg">
    </div>
  </section>

  <section class="project-card">
    <div class="img"></div>
    <div class="acoes">
      <img class="icon" src="../../assets/settings.svg">
      <img class="icon" src="../../assets/delete.svg">
      <img class="icon" src="../../assets/info.svg">
    </div>
  </section>

  <section class="project-card">
    <div class="img"></div>
    <div class="acoes">
      <img class="icon" src="../../assets/settings.svg">
      <img class="icon" src="../../assets/delete.svg">
      <img class="icon" src="../../assets/info.svg">
    </div>
  </section>
</div>

