<div class="container">
  <section class="project-card" *ngFor="let projeto of projects.projects">
    <div class="img" [routerLink]="['/project' ,projeto.id_project]" [title]="projeto.namep">
      <div *ngIf="projeto.img != '/imgsProjects/default.png'" [style.background-image]="'url('+ 'http://' + core.ipDaApi + '/' + projeto.img + ')'"></div>
      <div *ngIf="projeto.img == '/imgsProjects/default.png'">{{ projeto.namep.charAt(0) + projeto.namep.charAt(1) | uppercase }}</div>
    </div>
    <section class="buttons">
      <img class="icon" (click)="projects.detailProject(projeto.id_project)" src="../../assets/settings.svg">
      <img class="icon" *ngIf="projeto.permission" (click)="popupConfirmacao.ativaPopUpConfirmacao('Alerta', 'Tem certeza que deseja Excluir?', projeto.id_project)" src="../../assets/delete.svg">
    </section>

  </section>



  <section class="project-card add-project" (click)="projects.ativaAddProjets()" title="Adicionar Projeto">

    <i class="material-icons">add</i>
  </section>
</div>



<app-popup-confirmacao *ngIf="popupConfirmacao.situacao"></app-popup-confirmacao>
<app-add-projects *ngIf="projects.situacaoAddProjects"></app-add-projects>
<router-outlet></router-outlet>
