<section class="container">
    <section class="login">
      <img src="./../../assets/logo.png"/>

      <div style="position: relative; width: 200px; float:left; margin-left: 50px;">
        <input id="usuario" #HTMLusuario [(ngModel)]="usuario" (blur)="chama()" value="{{ usuario }}" class="textFields" type="text" name="usuario"/>
        <label class="labelText" for="usuario">Usuario</label>
        <div class="border"></div>
        <!-- <label class="helperText">Digite o seu Usuario</label> -->
      </div>

      <button (click)="gerarTokken()" style="float:left; width:200px; margin-top:60px; margin-left:50px; " class="denseButton">ENTRAR</button>




      <!-- <div style="position: absolute; left: 50px; top:240px;">
        <input id="usuario" #HTMLsenha [(ngModel)]="senha" (blur)="chama()" value="{{ senha }}" class="textFields" type="password" name="senha"/>
        <div class="border"></div>
        <label class="labelText" for="senha">Senha</label> -->
        <!-- <label class="helperText">Digite sua Senha</label> -->
      <!-- </div> -->



      <span style="float:left; width:200px; margin-left:50px; margin-top:80px; text-align: center;"><a style="font-family:'Roboto'; font-size: 12px; color:#fff; cursor: pointer; text-decoration: none; " routerLink="/projetos">Cadastrar-se</a></span>

    </section>

</section>
