<div class="container">
  <div class="login" #login>
    <!--<img src="./../../assets/logo.png"/>-->
    <div #telas style="width: auto; display: flex">


      <div #tela class="tela" style="min-width: calc(100% - 100px ); float: left; margin: 15px 50px;">
        <div style="color: rgba(0,0,0, .54); cursor: default; user-select: none; font-family: 'Roboto'; font-size: 15px; text-align: center; width: 100%; margin-bottom: 15px;">Digite seu Usuario ou Email</div>
        <div style="position: relative; width: 200px; float:left;">

          <input id="usuario" #HTMLusuario [(ngModel)]="usuario" (blur)="chama()" (keyup.enter)="verificaUsuario()" value="{{ usuario }}" class="textFields" type="text" name="usuario"/>
          <label [style.color]="codeStatusUsuario == '404' ? '#F44336' : ''" class="labelText" for="usuario">Usuario</label>
          <div [style.background-color]="codeStatusUsuario == '404' ? '#F44336' : ''" class="border"></div>

          <label
            [style.color]="codeStatusUsuario == '404' ? '#F44336' : ''"
            [style.display]="codeStatusUsuario == '404' ? 'block' : 'none'"
            class="helperText">{{ mensagemUsuario }}</label>

        </div>

        <button
                style="float:left; width:200px; margin-top:60px; "
                class="denseButton"
                (click)="verificaUsuario()">
          RECUPERAR
        </button>
      </div>
    </div>


  </div>
</div>
<app-snackbars>

</app-snackbars>
