<section class="projeto">

  <div class="img">{{ projects?.project?.namep.charAt(0) | uppercase }}</div>

  <h1>{{ projects?.project?.namep | uppercase }}</h1>
</section>

<section class="container"  #container>
<div id="dragDrop">


  <section class="caixa" *ngFor="let caixa of projects.blocks">
    <header>{{ caixa.nameblock }}
      <div class="more_horiz" [menu]="appmenu"></div>
      <div class="popup" #popup1>
      </div>
      </header>
    <article class="elemento">
      Teste
      <br/>
      <span class="prazo">
        21/09/2017
      </span>
      <div class="editElemento" (click)="teste()">
      </div>
    </article>
  </section>








</div>
</section>
<app-menu #appmenu>
    <li style="background-color: #FFF; height: auto; padding: 8px 16px 8px 24px; box-sizing: border-box; color: #444; height: 32px; line-height: 24px; cursor: pointer; overflow: hidden; font-size: 15px; font-family: Roboto">Adicionar Nova Tarefa</li>
    <li style="background-color: #FFF; height: auto; padding: 8px 16px 8px 24px; box-sizing: border-box; color: #444; height: 32px; line-height: 24px; cursor: pointer; overflow: hidden; font-size: 15px; font-family: Roboto">Remover Bloco</li>
</app-menu>
