<section class="container" #container>
  <div id="dragDrop">

    <section class="caixa" *ngFor="let caixas of dragDropService.blocks; let i = index">
      <header>{{ caixas.nameblock }}
        <div class="more_horiz" (click)="dragDropService.ativaMenuBloco(caixas.idblock)"></div>
        <div [hidden]="!dragDropService.menuBloco || caixas.idblock != dragDropService.referenciaMenuBloco " class="menuBloco">
          <ul>
            <li (click)="dragDropService.teste()">Alterar Bloco</li>
            <li (mousedown)="deletarBloco(caixas.idblock)">Excluir Bloco</li>
          </ul>
        </div>
      </header>
      <section class="body">
        <article class="elemento" *ngFor="let elementos of dragDropService.blocks[i].tasks">
          {{ elementos.name_task }}
          <br/>
          <span class="prazo" *ngIf="elementos.final_date">
        {{ elementos.final_date | date: 'dd/MM/yyyy' }}
      </span>
          <div class="editElemento" (click)="teste()">
          </div>
        </article>
        <article class="addElemento">
          <div [hidden]="dragDropService.addElemento && dragDropService.idBlock == caixas.idblock" class="addEl" (click)="dragDropService.onAddElemento($event, caixas.idblock)">Adicionar Elemento</div>
          <section [hidden]="!dragDropService.addElemento || dragDropService.idBlock != caixas.idblock" class="addInfoEl">
            <div style='position: relative;'>
              <input type='text' class='textFields' [(ngModel)]="dragDropService.nomeTarefa" (keyup.enter)="addTarefa()">
              <label class='labelText'>Nome</label>
              <div class='border'></div>
            </div>
            <div style="margin-top: 40px;">
              <img class="float-right" (click)="addTarefa()" src="../../assets/done.svg">
              <img class="float-right" (click)="fechaAddElemento()" src="../../assets/clear.svg">
            </div>
          </section>
        </article>
      </section>
    </section>

    <!-- Adicionar Novas Caixas -->
    <section class="caixa">
        <article [hidden]="!!dragDropService.situacaoAddBloco" class="elemento addBloco" (click)="dragDropService.onAddBloco($event)">
         Adicionar Caixa
        </article>
      <section [hidden]="!dragDropService.situacaoAddBloco" class="addBlocoInfo">
        <div style='position: relative;'>
          <input type='text' class='textFields' [(ngModel)]="dragDropService.nomeAddBloco" #nomeBloco (keyup.enter)="addBloco()">
          <div class='border'></div>
        </div>

        <div style="float: left; width: 100%; margin-top: 45px;">
          <img class="float-right" (click)="addBloco()" src="../../assets/done.svg">
          <img class="float-right" (click)="fechaAddElemento()" src="../../assets/clear.svg">
        </div>

      </section>

    </section>
  </div>
</section>
