<section class="container" #container>
  <div id="dragDrop">

    <section class="caixa" *ngFor="let caixas of dragDropService.blocks; let i = index">
      <header>{{ caixas.nameblock }}
        <div class="more_horiz" [menu]="appmenu"></div>
        <div class="popup" #popup1></div>
      </header>
      <section class="body">
        <article class="elemento" *ngFor="let elementos of dragDropService.blocks[i].tasks">
          {{ elementos.name_task }}
          <br/>
          <span class="prazo" *ngIf="elementos.final_date">
        {{ elementos.final_date | date: 'dd/MM/yyyy' }}
      </span>
          <div class="editElemento" (click)="teste()">
          </div>
        </article>
        <article class="addElemento">
          <div [hidden]="dragDropService.addElemento && dragDropService.idBlock == caixas.idblock" class="addEl" (click)="dragDropService.onAddElemento($event, caixas.idblock)">Adicionar Elemento</div>
          <section [hidden]="!dragDropService.addElemento || dragDropService.idBlock != caixas.idblock" class="addInfoEl">
            <div style='position: relative;'>
              <input type='text' class='textFields' [(ngModel)]="dragDropService.nomeTarefa" (keyup.enter)="addTarefa()">
              <label class='labelText'>Nome</label>
              <div class='border'></div>
            </div>
            <div style="margin-top: 40px;">
              <img class="float-right" (click)="addTarefa()" src="../../assets/done.svg">
              <img class="float-right" (click)="fechaAddElemento()" src="../../assets/clear.svg">
            </div>
          </section>
        </article>
      </section>
    </section>

    <section class="caixa">
        <article [hidden]="!!dragDropService.situacaoAddBloco" class="elemento addBloco" (click)="dragDropService.onAddBloco($event)">
         Adicionar Caixa
        </article>
      <section [hidden]="!dragDropService.situacaoAddBloco" class="addBlocoInfo" style="padding: 0 16px; height: 50px; margin-top: 5px;">
        <div style='position: relative;'>
          <input type='text' class='textFields' [(ngModel)]="dragDropService.nomeAddBloco" #nomeBloco>
          <!--<label class='labelText'>Nome</label>-->
          <div class='border'></div>
        </div>

        <div style="float: left; width: 100%; margin-top: 40px;">
          <img class="float-right" (click)="addBloco()" src="../../assets/done.svg">
          <img class="float-right" (click)="fechaAddElemento()" src="../../assets/clear.svg">
        </div>

      </section>

    </section>
  </div>
</section>
<app-menu #appmenu>
  <li
    style="background-color: #FFF; height: auto; padding: 8px 16px 8px 24px; box-sizing: border-box; color: #444; height: 32px; line-height: 24px; cursor: pointer; overflow: hidden; font-size: 15px; font-family: Roboto">
    Adicionar Nova Tarefa
  </li>
  <li
    style="background-color: #FFF; height: auto; padding: 8px 16px 8px 24px; box-sizing: border-box; color: #444; height: 32px; line-height: 24px; cursor: pointer; overflow: hidden; font-size: 15px; font-family: Roboto">
    Remover Bloco
  </li>
</app-menu>
