.container {
  width: 100%;
  height: 100vh;
  /*background-image: url("../../../assets/background.jpg");*/
  background-color: #EEEEEE;
  background-size: 100% 100vh;
  overflow:hidden;
  text-align: center;
  font-size: 32px;
  color: #0057e7;
  /*user-select: none;*/
}


p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.p1 {
  margin-top: calc(37%);
  color: #000;


}


.p2 {
  margin-top: calc(37% + 40px);
  color: #0057e7;
  font-size: 18px;
  cursor: default;
  transition: All 480ms ease;

}


.p3 {
  margin-top: calc(37% + 80px);
  color: #000;
  font-size: 14px;
  cursor: pointer;
}
.p3:hover {
  color: #0057e7;
}
.arrow {
  width: 40px;
  position: absolute;
  top:15px;
  left: 15px;
  cursor: pointer;
  z-index: 1000;
}


.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20%;
}

   .loader {
     position: relative;
     margin: 0 auto;
     width: 70px;
   }
  .loader:before {
     content: '';
     display: block;
     padding-top: 100%;
   }

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #0057e7;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #0057e7;
  }
  80%,
  90% {
    stroke: #0057e7;
  }
}
