.containerSnackbars {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  /*height: 50px;*/
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 480ms ease;
  z-index: 25;
}


.snackbars {
  height: 48px;
  min-width: 264px;
  max-width: 544px;
  border-radius: 2px;
  font-family: 'Roboto';
  font-size: 14px;
  background-color: #323232;
  padding-left: 24px;
  line-height: 48px;
  color: #f4f4f4;
  user-select: none;
  margin: 5px 0;
  cursor: default;
  /*position: fixed;*/
  /*bottom: -60px;*/
  transform: translateY(60px);
  transition: all 800ms ease;
}
.climb {
  transform: translateY(0px);

}
.leave {
  transform: translateY(60px);
}

