<header>
  <label for="check">
    <div class="hamburger">
      <img src="../../assets/hamburger.svg"/>
    </div>
  </label>
  <input class="checkNav" type="checkbox" id="check" style="display:none"/>

  <nav>
    <label for="check">
      <div class="inverseHamburger">
        <img src="../../assets/hamburger_black.svg"/>
      </div>
    </label>

    <ul>
      <li class="titulo">Configurações de Usuario</li>

        <li *ngFor="let projeto of projects.projects">

          <div class="img" *ngIf="projeto.img != '/imgsProjects/default.png'">
          <img src="{{'http://' + core.ipDaApi + projeto.img}}" id="preview"/>
          </div>
          <div class="img" *ngIf="projeto.img == '/imgsProjects/default.png'">{{projeto.namep.charAt(0)}}</div>

          <span>{{ projeto.namep }}</span>
        </li>

    </ul>

  </nav>

  <div style="position: relative">
    <input class="campoDePesquisa" type="text" id="campoDePesquisa" value="{{ campoDePesquisa }}"  [(ngModel)]="campoDePesquisa" (keyup)="chama()">
    <label for="campoDePesquisa" #HTMLCampoDePesquisa>Pesquisar...</label>
  </div>

<div style="position: relative; z-index: 1;">
  <!--<label for="perfil">-->
    <div class="perfil" [menuInfoUser]="menuInfoUser">

      <div style="float: right" *ngIf="dados?.img != '/imgsUser/default.png'">
        <img class="img" src="{{'http://' + core.ipDaApi + dados?.img}}"/>
      </div>

      <div *ngIf="dados?.img == '/imgsUser/default.png'" class="img">{{dados?.name.charAt(0)}}</div>

      <span>{{dados?.name}}</span>

    </div>




  <!--</label>-->
  <!--<input class="checkPerfil" type="checkbox" id="perfil" style="display: none"/>-->

  <!--<div class="opPerfil">-->
    <!--<ul>-->

    <!--</ul>-->

  <!--</div>-->
</div>

  <div class="notificacoes">
    <img src="../../assets/notificacoes.svg">
    <div class="qtdNotificacoes"></div>
  </div>
  <app-autenticacao *ngIf="!dados?.statusauth"></app-autenticacao>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>
<app-snackbars></app-snackbars>
<app-menu-info-user #menuInfoUser>
  <li><img src="../../assets/home_black.svg"/>
  <span routerLink="/main">Home</span>
  </li>
  <li><img src="../../assets/account_circle_black.svg"/>
  <span routerLink="/alterarDados">Alterar Dados</span>
  </li>
  <li><img src="../../assets/key.svg"/>
  <span routerLink="/alterarSenha">Alterar Senha</span>
  </li>
  <li><img src="../../assets/logout.svg"/>
  <span (click)="logout()">Logout</span>
  </li>
</app-menu-info-user>
