<div class="login">

  <div style="width:300px; height: 100%; padding-top:10px;">
    <input type="file" (change)="previewFile($event.target)" id="file" style="display: none;">

    <!--<img *ngIf="alterar.img == '/default.png'" src="{{ img }}" class="imageUser" id="preview">-->
    <img *ngIf="img64" src="{{img64}}" class="imageUser" id="preview"/>
    <div *ngIf="alterar.img == '/imgs/default.png' && img64 == ''" class="imageUser">{{ alterar.name.charAt(0) }}</div>
    <img *ngIf="alterar.img != '/imgs/default.png' && img64 == ''" src="{{'http://192.168.52.105:8080' + alterar.img}}" class="imageUser" id="preview">
    <div class="addImageUser" (click)="chamaFile()">+</div>

    <div style="position: relative; width: 200px; float:left; margin-left: 50px; margin-right: 50px;">
      <input #HTMLNome [(ngModel)]="alterar.name" (blur)="chama()" type="text" name="nome" class="textFields"/>
      <label class="labelText" for="nome">Nome</label>
      <div class="border"></div>
    </div>

    <div style="position: relative; width: 200px; float:left; margin-left: 50px; margin-top:60px;">
      <input #HTMLUsername [(ngModel)]="alterar.username" (blur)="chama()" type="text" name="username" class="textFields"/>
      <label class="labelText" for="username">Username</label>
      <div class="border"></div>
    </div>


    <div style="position: relative; width: 200px; float:left; margin-left: 50px; margin-top:60px;">
      <input #HTMLEmail autocomplete="off" [(ngModel)]="alterar.email" (blur)="chama()" type="text" name="email" class="textFields"/>
      <label class="labelText" for="email">Email</label>
      <div class="border"></div>
    </div>


    <button
      (click)="altera()"
      class="denseButton"
      style="float:left; width:200px; margin-top:60px; margin-left:50px;"
      #HTMLCadastrar>
      ALTERAR
    </button>

  </div>

</div>
<app-snackbars>

</app-snackbars>









        <!--</div>-->

  <!--<div style="width:300px; height: 350px; padding-top:10px; overflow-x: hidden; float: left">-->



  <!--</div>-->


