<section class="all">
  <section class="left">
    <input type="file" (change)="previewFile($event.target)" id="file" style="display: none;">
    <img *ngIf="img64" src="{{ img64 }}" class="imageUser" id="preview"/>
    <img *ngIf="projects?.project?.img != '/imgsProjects/default.png' && !img64" src="{{'http://' + core.ipDaApi + projects?.project?.img}}" class="imageUser" id="preview"/>
    <div *ngIf="projects?.project?.img == '/imgsProjects/default.png' && !img64" class="imageUser">{{projects?.project?.namep.charAt(0)}}</div>
    <div class="addImageUser" (click)="chamaFile()">+</div>
    <div style="position: relative; display: block; margin-top: 150px;">
      <input class="textFields" type="text" id="nome" value="{{ projects?.project?.namep }}"/>
      <!--<label class="labelText" for="nome" >{{ projects?.project?.namep }}</label>-->
      <div class="border"></div>
      <label class="helperText"></label>
    </div>

    <div style="position: relative; display: block; margin-top: 190px;">
      <textarea class="textFieldsMult" id="descricao">{{ projects?.project?.descrip }}</textarea>
      <!--<label class="labelTextMult" for="descricao">{{ projects?.project?.descrip }}</label>-->
    </div>
  </section>


  <section class="right">


    <span>Membros</span>
    <div style="clear: both"></div>
    <div class="pesquisa" style="position: relative; margin-bottom: 10px;">
      <input type="checkbox" id="pesquisa">

      <div class="div-campoDePesquisa" style="position: relative;">
        <input type="text" class="textFields" placeholder="Pesquisar" [(ngModel)]="campoDePesquisa"/>
        <div class="border" style="width: 100%;"></div>
        <label class="helperText"></label>
      </div>

      <label for="pesquisa" class="fecharPesquisa" style="float: right; position: absolute; top: 0; right: 0;">
        <img src="../../../assets/close.svg"/>
      </label>

      <label for="pesquisa" class="abrirPesquisa" style="float: right; position: absolute; top: 0; right: 0;">
        <img src="../../../assets/search.svg"/>
      </label>
    </div>
    <div class="addMembro"></div>


    <section class="membros">
      <section class="scroll">
        <div *ngFor="let membro of projects?.project?.team | pesquisaDeMembrosDoProjeto: campoDePesquisa">
          <article class="membro">
            <!--<div class="img"></div>-->
            <div *ngIf="membro.profile_img == '/imgsUser/default.png'" class="img">{{ membro.name.charAt(0) | uppercase }}</div>
            <img *ngIf="membro.profile_img != '/imgsUser/default.png'" src="{{ 'http://' + core.ipDaApi + membro.profile_img}}" class="img"/>
            <h1>{{ membro.name }}</h1>
            <h2>{{ membro.username }}</h2>
            <div class="permissao">
              <div class="checkbox">
                <input id="{{ membro.username }}" type="checkbox" [(ngModel)]="membro.permissions" [checked]="membro.permissions">

                <label for="{{ membro.username }}" class="checkboxNameOff">
                  <img src="../../../assets/star_border.svg"/>
                </label>
                <label for="{{ membro.username }}" class="checkboxNameOn">
                  <img src="../../../assets/star.svg"/>
                </label>
              </div>
            </div>
          </article>
        </div>


      </section>
    </section>

    <!--<h1 style="font-size: 16px; color: #8A8A8A; font-weight: 500; cursor: pointer; overflow: hidden; height: 20px; margin-left: 15px;">Membros</h1>-->

    <!--&lt;!&ndash;<div class="membro" style="position: relative; margin-top: 20px;">&ndash;&gt;-->
    <!--<div style="display: block; height: 40px; position: relative; margin: 10px 0px 0px 5px; width: 280px; left: 10px;">-->
      <!--<input type="text" id="pesquisaMembro" class="textFields" style="">-->
      <!--<label class="labelText" for="pesquisaMembro">Pesquisar</label>-->
      <!--<div class="border"></div>-->
    <!--</div>-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<section class="membros">-->
      <!--<div style="font-size: 10px; color: #222; margin-right: 20px;">-->
        <!--<span style="float: left; margin-left: 10px;">Nome</span>-->
        <!--<span style="float: right">Administradores</span>-->
      <!--</div>-->
      <!--<div style="overflow-y:scroll; width: calc(100% + 20px); height: 100%;">-->


        <!--<div *ngFor="let membro of projects?.project?.team">-->
          <!--<div class="membro" *ngIf="membro.permissions">-->

            <!--<div *ngIf="membro.profile_img == '/imgsUser/default.png'" class="img">{{ membro.name.charAt(0) | uppercase }}</div>-->
            <!--<img *ngIf="membro.profile_img != '/imgsUser/default.png'" src="{{ 'http://' + core.ipDaApi + membro.profile_img}}" class="img"/>-->
            <!--<span class="nome">{{ membro.name}}</span>-->
            <!--<span class="permissao">{{ membro.username }}</span>-->
            <!--<div class="checkbox">-->
              <!--<input id="{{ membro.username }}" type="checkbox">-->
              <!--<label for="{{ membro.username }}" class="checkboxNameOff">-->
                <!--<img src="../../../assets/check_box_outline.svg"/>-->
              <!--</label>-->
              <!--<label for="{{ membro.username }}" class="checkboxNameOn">-->
                <!--<img src="../../../assets/check_box.svg"/>-->
              <!--</label>-->
            <!--</div>-->

            <!--</div>-->
        <!--</div>-->

        <!--<div *ngFor="let membro of projects?.project?.team">-->
          <!--<div class="membro" *ngIf="!membro.permissions">-->

            <!--<div *ngIf="membro.profile_img == '/imgsUser/default.png'" class="img">{{ membro.name.charAt(0) | uppercase }}</div>-->
            <!--<img *ngIf="membro.profile_img != '/imgsUser/default.png'" src="{{ 'http://' + core.ipDaApi + membro.profile_img}}" class="img"/>-->
            <!--<span class="nome">{{ membro.name}}</span>-->
            <!--<span class="permissao">{{ membro.username }}</span>-->
            <!--<div class="checkbox">-->
              <!--<input id="{{ membro.username }}" type="checkbox">-->
              <!--<label for="{{ membro.username }}" class="checkboxNameOff">-->
                <!--<img src="../../../assets/check_box_outline.svg"/>-->
              <!--</label>-->
              <!--<label for="{{ membro.username }}" class="checkboxNameOn">-->
                <!--<img src="../../../assets/check_box.svg"/>-->
              <!--</label>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


    <!--</section>-->
  </section>


<button
      (click)="projects.fechaDetailProject()"
      class="denseButton"
      style="float:left; margin:-40px 0 0 500px; background-color: transparent; color: #444; font-weight: 600"
      #HTMLVoltar>
      VOLTAR
    </button>
<button
    (click)="projects.fechaDetailProject()"
    class="denseButton"
    style="float:left; margin:-40px 0 0 580px; background-color: transparent; color: #444; font-weight: 600"
    #HTMLVoltar>
    ALTERAR
</button>

</section>


