<section class="container">
  <section class="images">
    <input type="file" (change)="previewFile($event.target)" id="file" style="display: none;">
    <section *ngIf="img64" id="preview" class="img" [style.background-image]="'url('+ img64 +')'"></section>

    <section *ngIf="projects?.project?.img != '/imgsProjects/default.png' && !img64" id="preview" class="img"
             [style.background-image]="'url('+ 'http://' + core.ipDaApi + projects?.project?.img +')'"></section>

    <section *ngIf="projects?.project?.img == '/imgsProjects/default.png' && !img64" class="img">
      {{projects?.project?.namep.charAt(0) | uppercase }}
    </section>
    <div class="addImg" (click)="chamaFile()">+</div>
  </section>
  <section class="nome">
    <input class="textFields" type="text" id="nome" [(ngModel)]="name"/>
    <!--<label class="labelText" for="nome" >{{ projects?.project?.namep }}</label>-->
    <div class="border"></div>
    <label class="helperText"></label>
  </section>
  <section class="descricao">
    <textarea class="textFieldsMult" id="descricao" [(ngModel)]="descri">{{ descri }}</textarea>
    <!--<label class="labelTextMult" for="descricao">{{ projects?.project?.descrip }}</label>-->
  </section>

  <section class="membros">
    <section class="search">
      <div class="relative">
        <input type="text" id="search" class="textFields" (keyup)="projects.pesquisarMembros(id)"
               (blur)="input()" #HTMLSearch
               [(ngModel)]="projects.campoDePesquisa">
        <label class="labelText" for="search">Pesquisar Membros</label>
        <div class="border"></div>
      </div>
    </section>

    <section class="listMembers">
      <section class="scroll" *ngIf="!projects?.campoDePesquisa">
        <section class="membro" *ngFor="let membro of projects?.project?.team">
          <section class="img" *ngIf="membro.profile_img == '/imgsUser/default.png'">{{ membro.name.charAt(0) |
            uppercase }}
          </section>
          <section class="img" *ngIf="membro.profile_img != '/imgsUser/default.png'"
                   [style.background-image]="'url('+ 'http://' + core.ipDaApi + membro.profile_img +')'"></section>
          <section class="name">{{ membro.name }}</section>
          <i class="material-icons" *ngIf="projects.project.loggeduserpermission || membro.id_user == idUser"
             (click)="openMenuUser($event)">more_vert</i>
          <section class="optionsUser optionsUserOff"
                   [ngStyle]="{'top': positionMenu?.top + 'px', 'left': positionMenu?.left + 'px'}">
                    <span
                      *ngIf="!membro.permissions && membro.id_user != idUser && projects?.project?.loggeduserpermission"
                      (mousedown)="projects.permissaoUserProject(id, membro.id_user)">Promover</span>
            <span *ngIf="membro.permissions && membro.id_user != idUser && projects?.project?.loggeduserpermission"
                  (mousedown)="projects.permissaoUserProject(id, membro.id_user)">Rebaixar</span>
            <span *ngIf="membro.id_user != idUser && projects?.project?.loggeduserpermission"
                  (mousedown)="projects.delUserProject(id, membro.id_user)">Remover</span>
            <span *ngIf="membro.id_user == idUser" (mousedown)="projects.sairUserProject(id)">Sair</span>
          </section>
        </section>
      </section>

      <section class="scroll" *ngIf="projects?.campoDePesquisa">
        <section class="membro" *ngFor="let membro of projects?.pesquisaMembros">
          <section class="img" *ngIf="membro.imguser == '/imgsUser/default.png'">{{ membro.nameuser.charAt(0) |
            uppercase }}
          </section>
          <section class="img" *ngIf="membro.imguser != '/imgsUser/default.png'"
                   [style.background-image]="'url('+ 'http://' + core.ipDaApi + membro.imguser +')'"></section>
          <section class="name">{{ membro.nameuser }}</section>
          <i class="material-icons" (click)="projects.addMembrosProject(membro.iduser, id)">add_circle</i>
        </section>
      </section>

    </section>
  </section>

  <section class="buttons">
    <button class="denseButton fullwidth" (click)="projects.changeProject(id, name, descri, img64)">SALVAR</button>
  </section>

</section>
<section class="background"></section>
<app-arrow-back (click)="projects.fechaDetailProject()"></app-arrow-back>




