<div class="container">
  <div class="topo">
      <a routerLink="/cadastro" class="denseButton cadastrese"
         style="">
        CADASTRAR-SE
      </a>
    <a routerLink="/login" class="denseButton login">
      FAZER LOGIN
    </a>
  </div>

  <div class="meio1">
    <div class="conteudo">

      <div class="sub">
        <h1>A Melhor Maneira de Organizar seus projetos</h1>
        <p>Acabe com as excessivas trocas de e-mails, dados desatualizados, papeis que não acabam mais e softwares complicados
          WebPost organiza tudo isso pra você.
        </p>
      </div>
    </div>

  </div>
</div>


