<div class="container">
  <div class="topo">

    <!--<a routerLink="/cadastro"><button-->
      <!--class="denseButton"-->
      <!--style="float:right; margin-top: 10px; margin-right: 15px; background-color: transparent;"-->
    <!--&gt;<a/>-->
      <!--CADASTRAR-SE-->
    <!--</button>-->

      <a routerLink="/cadastro" class="denseButton"
         style="float:right; margin-top: 12px; margin-right: 15px; background-color: transparent; color: #212121; line-height: 32px;">
        CADASTRAR-SE
      </a>

    <a routerLink="/login" class="denseButton"
       style="float:right; margin-top: 12px; margin-right: 15px; background-color: transparent; color: #212121; line-height: 32px;">
      FAZER LOGIN
    </a>

  </div>

  <div class="meio1">
    <div class="conteudo">

      <div class="sub">
        <h1>A Melhor Maneira de Organizar seus projetos</h1>
        <p>Acabe com as excessivas trocas de e-mails, dados desatualizados, papeis que não acabam mais e softwares complicados
          WebPost organiza tudo isso pra você.
        </p>
      </div>
    </div>



  </div>
    <!--<div class="divisoria"></div>-->
  <!--<div class="meio2">-->

  <!--</div>-->
</div>
