<section class="container">
    <section class="image">
      <input type="file" (change)="previewFile($event.target)" id="file" style="display: none;">

      <div *ngIf="img64" class="imageUser" id="preview" [style.background-image]="'url('+ img64 +')'"></div>
      <div *ngIf="!img64" class="imageUser" style="background-size: 80px;"></div>

      <div class="addImageUser" (click)="chamaFile()">+</div>
    </section>


    <div class="campos">
      <div class="nome">
        <div class="relative">
          <input class="textFields" [(ngModel)]="nome" value="{{ nome }}" (blur)="inputs()" type="text" id="nome"
                 #HTMLNome/>
          <label class="labelText" for="nome">Nome</label>
          <div class="border"></div>
        </div>
      </div>

      <div class="descricao">
        <div class="relative">
          <textarea [(ngModel)]="descricao" #HTMLDescricao class="textFieldsMult" id="descricao"
                    (blur)="inputs()"
                    rows="1"
          ></textarea>
          <label class="labelTextMult" for="descricao">Descrição</label>
        </div>
      </div>

      <section class="button">
        <button class="denseButton fullwidth" (click)="criarProject()">CADASTRAR</button>
      </section>

    </div>
  </section>

<section class="background"></section>


<app-arrow-back (click)="projects.fechaAddProjets(null)"></app-arrow-back>


